<!-- CARRUSEL -->

<section class="carousel-seccion">
  <div class="carousel-container">
    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel" data-bs-pause="false">
      <div class="carousel-inner">

        <div class="carousel-item carousel-image bg-img-1 active">
          <div class="carousel-caption">
            <h2>Bienvenidos a Montaña Encantada, un refugio de paz y naturaleza</h2>
            <a routerLink="/#Cotizar">
              <button class="btn btn-primary">Reservar ahora</button>
            </a>
          </div>
        </div>

        <div class="carousel-item carousel-image bg-img-2">
          <div class="carousel-caption">
            <h2>Disfruta de habitaciones elegantes y cómodas en pleno corazón del bosque</h2>
            <a routerLink="/#Cotizar">
              <button class="btn btn-primary">Reservar ahora</button>
            </a>
          </div>
        </div>

        <div class="carousel-item carousel-image bg-img-3">
          <div class="carousel-caption">
            <h2>Escapa de la rutina y vive momentos inolvidables con tu pareja en un entorno único</h2>
            <a routerLink="/#Cotizar">
              <button class="btn btn-primary">Reservar ahora</button>
            </a>
          </div>
        </div>

        <div class="carousel-item carousel-image bg-img-4">
          <div class="carousel-caption">
            <h2>Comienza tu día con un desayuno gourmet rodeado de la serenidad de la naturaleza</h2>
            <a routerLink="/#Cotizar">
              <button class="btn btn-primary">Reservar ahora</button>
            </a>
          </div>
        </div>

      </div>

      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Anterior</span>
      </button>

      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Siguiente</span>
      </button>

    </div>
  </div>
</section>