<h1 class="titulo">Cotiza tu experiencia</h1>
<p class="descripcion-pagina" >Aquí podrás cotizar tu estadía en Montaña Encantada de manera fácil y rápida. Selecciona la cabaña que desees, elige entre nuestras variadas actividades y comodidades, y escoge las fechas ideales en nuestro calendario. Así podrás obtener una cotización personalizada que se adapte a tus necesidades para vivir una experiencia inolvidable en la naturaleza.</p>
<app-cabanas></app-cabanas>
<app-actividades></app-actividades>
<app-formulario></app-formulario>
