<h1 class="titulo">Reserva tu experiencia</h1>
<p class="descripcion-pagina">Aquí podrás reservar tu estadía en Montaña Encantada de manera fácil y rápida. Selecciona la cabaña que desees, elige entre nuestras variadas actividades y comodidades, y escoge las fechas ideales en nuestro calendario. Así podrás completar tu reserva personalizada que se adapte a tus necesidades para vivir una experiencia inolvidable en la naturaleza.</p>
<app-cabanas></app-cabanas>
<app-actividades></app-actividades>
<app-menu></app-menu>
<app-calendario></app-calendario>
<app-formulario></app-formulario>
